name: 'Test Report'
on:
  workflow_run:
    workflows: ['.NET']
    types:
      - completed
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - uses: dorny/test-reporter@v1
      with:
        artifact: dotnet-results-6.0.x-windows-latest
        name: Test Report (Windows)
        path: ./*.trx
        reporter: dotnet-trx
    - uses: dorny/test-reporter@v1
      with:
        artifact: dotnet-results-6.0.x-macos-latest
        name: Test Report (macOS)
        path: ./*.trx
        reporter: dotnet-trx
